  <!-- ======== @Region: body ======== -->

	
	<!-- Add wellness sub-section Picture-->
	<div style="height:60px;">
		<h1 class="" style="margin-top:3%; margin-left:38%; margin-bottom:20px; font-size:2em;" >Fitness that works for you</h1>
	</div>
		
   <div class="container-fluid" style="margin-top:3%;">
   <!--Main div content -->
	<div class="row mainContent"><!--Main div content -->
	  <div ng-if="!searchInput.title">
		<a href="#" ng-repeat="activity in fitness" style="text-decoration:none;">
			<fitness></fitness>
		</a>
	 </div><!-- End: ng-if-->
	
	 <div ng-if="searchInput.title">
		<a href="#" ng-repeat="activity in fitness|filter:{title:searchInput.title}" style="text-decoration:none;">
		 <fitness></fitness>
		</a>
	 </div><!-- End: ng-if-->
	</div><!--End: Main div content -->
  </div><!--End div class="container" -->
      
   