  <!-- ======== @Region: body ======== -->
  <body>
	<!--Provider Information Nav-->
	<nav class="navbar navbar-default navPD" role="navigation">
		<div class="container">
		 <ul class="nav navbar-nav">
			<li><a href="#" class="liPD"><strong>Profile</strong></a></li>
			<li><a href="#" class="liPD">Articles</a></li>
			<li><a href="#" class="liPD">Videos</a></li>
			<li><a href="#" class="liPD">Calender</a></li>
		 </ul>
	   </div>	
	</nav> <!-- End: Provider Information Nav-->
			
   <!--Main div content -->
   <div id="profileSide" class="container-fluid contPD">
     <h3 class="h3PD">Profile</h3>
	 <div class='row'>
	  <div class="col-sm-3 overview">
		<h4 class="h4PD"><a href="#" class="noDec"><strong>Overview</strong></a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">About</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Certifications</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Details</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Education</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Work Experience</a></h4>
	 </div>
	  <div id="profileMain" class="col-sm-8 profilePD">
	  <!------------------>
	  <!--About Section -->
	  <!------------------>
		<div class="marginPD" style="margin-top:5px;">
			<a href="#" id="aboutGlyph" class="noDec colorPD" ng-click="aboutSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">About</h4>
			</a>
			<form role="form" name="formAbout" id="formAbout" class="well" style="width:820px;" ng-hide="hideForm" ng-submit="aboutSubmit()">
			  <fieldset>
			   <legend>Basic Information</legend>
				<!-- First and last name -->
				<div class="row">
				  <div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.firstName.$dirty && formAbout.firstName.$valid, 'has-error':formAbout.firstName.$dirty && formAbout.firstName.$invalid}">
					<label class="control-label" for="firstname" name="firstName">First Name</label>
					<div>
						<input name="firstName" type='textbox' class="form-control" ng-model="about.firstName" ng-required="true" ng-pattern="/^[A-Za-z].*/" />
						<div ng-show="formAbout.$submitted || formAbout.firstName.$touched">
							<span class="help-block colorRed" ng-show="formAbout.firstName.$error.required">First Name is required</span>
						</div>
					</div>
				  </div>
				  <div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.lastName.$dirty && formAbout.lastName.$valid, 'has-error':formAbout.lastName.$dirty && formAbout.lastName.$invalid}">
					<label class="control-label" for="lastName" name="lastName">Last Name</label>
					<div>
						<input name="lastName" type='textbox' class="form-control" ng-model="about.lastName" ng-required="true" ng-pattern="/^[A-Za-z].*/" />
						<div ng-show="formAbout.$submitted || formAbout.lastName.$touched">
							<span class="help-block colorRed" ng-show="formAbout.lastName.$error.required">Last Name is required</span>
						</div>
					</div>
				  </div>
				</div>

				<!-- Email and Password -->
			  <div class="row">	
				<div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.emailPD.$dirty && formAbout.emailPD.$valid, 'has-error':formAbout.emailPD.$dirty && formAbout.emailPD.$invalid}">
					<label class="control-label" for="emailPD">Email</label>
					<div>
						<input id="emailPD" name="emailPD" type='email' class="form-control" ng-required="true" ng-model="about.emailPD" />
						<div ng-show="formAbout.$submitted || formAbout.emailPD.$touched">
							<span class="help-block colorRed" ng-show="formAbout.emailPD.$error.required">A valid email is required</span>
						</div>
					</div>
				</div>
					
				<!-- Password -->
				<div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.pwdPD.$dirty && formAbout.pwdPD.$valid, 'has-error':formAbout.pwdPD.$dirty && formAbout.pwdPD.$invalid}">
					<label class="control-label" for="pwdPD">Password</label>
					<div>
						<input id="pwdPD" name="pwdPD" type="password"  ng-required="true" class="form-control" ng-model="about.pwdPD" />
						<div ng-show="formAbout.$submitted || formAbout.pwdPD.$touched">
							<span class="help-block colorRed" ng-show="formAbout.pwdPD.$error.required">Password must contain at least six characters</span>	
						</div>	
					</div>
				</div>
			  </div>	
		      <br/>
			</fieldset>
			
				<!-- Address -->
				<fieldset>
					<legend>Address</legend>
					<div class="row">
					  <div class="form-group col-sm-9">
						<label class="control-label" for="streetPD">Street</label>
						<input id="streetPD" name="streetPD" type="text"  class="form-control" ng-model="about.street"/>
					  </div>
					  <div class="form-group col-sm-3">
						<label class="control-label" for="aptPD">Apt #</label>
						<input id="aptPD" name="aptPD" type="text"  class="form-control" ng-model="about.apt"/>
					  </div>
					</div>
					
					<div class="row">
					  <div class="form-group col-sm-6">
						<label class="control-label" for="cityPD">City</label>
						<input id="cityPD" name="cityPD" type="text"  class="form-control" ng-model="about.city"/>
					  </div>
					  <div class="form-group col-sm-2">
						<label class="control-label" for="statePD">State</label>
						<select id="statePD" name="statePD" type="text"  class="form-control" ng-model="about.state">
							<option value="Alberta" selected>AB</option>
							<option value="BritishColumbia">BC</option>
							<option value="Manitoba">MB</option>
							<option value="NewBrunswick">NB</option>
							<option value="NFL">NL</option>
							<option value="NovaScotia">NS</option>
							<option value="Ontario">ON</option>
							<option value="PEI">PE</option>
							<option value="Quebec">QC</option>
							<option value="Sask">SK</option>
						</select>
					  </div>
					  <div class="form-group col-sm-4">
						<label class="control-label" for="zipPD">Zip</label>
						<input id="zipPD" name="zipPD" type="text" required class="form-control" ng-model="about.zip"/>
					  </div>
					</div>
				</fieldset>
								
				<!--Add Buttons -->
				<div class="form-group" style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="cancelFormAbout()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit">Save</button>
				</div>
			</form>
		</div><!--End: About Section -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------------------->
		<!-- Certifications Section-->
		<!--------------------------->
			<div id="provCertDiv" class="marginPD">
			  <a href="#" id="certGlyph" class="noDec colorPD" ng-click="certSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Certifications</h4>
			  </a>
			  <form name="formCert" id="formCert1" novalidate class="well" style="width:820px; height:auto;" ng-hide="hideCertForm" ng-submit="certSubmit()" role="form">
			    <!-- Certification Name-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certName">Certification Name</label>
					<input id="certName" name="certName" ng-model="cert.certName" required type='text' class="form-control"/>
				  </div>
				  
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certAuth">Certification Authority</label>
					<input id="certAuth" name="certAuth" ng-model="cert.certAuth" required type='text' class="form-control"/>
				  </div>
				  
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certLic">License Number</label>
					<input id="certLic" name="certLic" ng-model="cert.certLic" type='text' class="form-control"/>
				  </div>
				  
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certUrl">Certification URL</label>
					<input id="certUrl" name="certUrl" ng-model="cert.certUrl" type='url' class="form-control"/>
				  </div>
			   
			     <!--Dates Attended -->
				  <div class="form-group row" ng-class="" style="width:500px; margin-left:5px;">
					<label class="control-label" for="">Dates</label>
					<div> <!-- Date-->
						<select id="certMonth" name="certMonth" ng-model="cert.certMonth" class="form-control col-sm-3" style="width:100px; margin-right:15px;">
							<option value="jan">January</option>
							<option value="feb">February</option>
							<option value="mar">March</option>
							<option value="apr">April</option>
							<option value="may">May</option>
							<option value="jun">June</option>
							<option value="jul">July</option>
							<option value="aug">August</option>
							<option value="sept">September</option>
							<option value="oct">October</option>
							<option value="nov">November</option>
							<option value="dec">December</option>
						</select>
						
						<!-- Year-->
						<select id="certYear" name="certYear" ng-model="cert.certYear" class="form-control col-sm-1" style="width:80px;">
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
						</select>
						<span class="col-sm-4" style="font-size:1.3em;">-- Present</span> <br />
						
						<div class="checkbox" style="margin-left:5px; margin-top:30px;">
							<label>
								<input type="checkbox" name="certChkbox">This certificate does not expire
							</label>
						</div>
						
					</div>
				</div>
			   <!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="certCancel()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit" ng-disabled="formCert.$invalid || formCert.$pristine">Save</button>
				 </div> <br />
			  </form>
			  
			  <!-- Add the additional certifications in the div below-->
			  <div id="addCertDiv" ng-hide="hideCertBtn"></div>	
			  
			<!-- Button for adding more certifications-->
			<div class="noDec" ng-hide="hideCertBtn">
				<button id="addCert1" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;" cert-dir>
					Add a Certification
				</button>
			</div>
		  </div> <!-- End: Certifications Section -->
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				
		<!-------------------->
		<!-- Details Section-->
		<!-------------------->
		<div class="marginPD">
			<a href="#" id="detailGlyph" class="noDec colorPD" ng-click="detailSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Details</h4>
			</a>
			 <form name="formDetail" id="formDetail" novalidate class="well" style="width:820px; height:auto;" ng-hide="hideDetailForm" ng-submit="detailSubmit()" role="form">
			   <div>	
				<label class="control-label" for="detailSummary">Provide a Summary of Your Experiences</label>
				<textarea rows="10" cols="50" id="detailSummary" name="detailSummary" ng-model="detail.summary" required type='textarea' class="form-control"></textarea>
			   </div>	<br />
			   <!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="detailCancel()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit" ng-disabled="formDetail.$invalid || formDetail.$pristine">Save</button>
				 </div> <br />
			 </form>
		</div>
		
		<!----------------------->
		<!-- Education Section -->
		<!----------------------->
		<div class="marginPD">
			<a href="#" id="eduGlyph" class="noDec colorPD" ng-click="eduSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Education</h4>
			</a>
			<form name="formEdu" id="formEdu" novalidate class="well" style="width:820px; height:auto;" ng-hide="hideEduForm" ng-submit="eduSubmit()" role="form">
			  <fieldset>
			    <legend>College / University</legend>
				<div id="college1">
				  <!-- School Name-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="eduSchool">School</label>
					<input id="eduSchool" name="eduSchool" ng-model="edu.school" required type='text' class="form-control"/>
				  </div>
				  <!--Dates Attended -->
				  <div class="form-group row" ng-class="" style="width:500px; margin-left:5px;">
					<label class="control-label" for="">Dates Attended</label>
					<div> <!-- Start Date-->
						<select id="edustartDt" name="edustartDt" ng-model="edu.startDt" class="form-control col-sm-2" style="width:80px;">
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
						</select>
						<span class="col-sm-2" style="margin-right:-30px;">__</span>
						<!-- End Date-->
						<select id="eduendDt" name="eduendDt" ng-model="edu.endDt" class="form-control col-sm-1" style="width:80px;">
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
						</select>
					</div>
				</div>
				<!-- Degree-->
				<div class="form-group" style="width:500px;">
					<label class="control-label" for="eduDegree">Degree</label>
					<select id="eduDegree" name="eduDegree" ng-model="edu.degree" class="form-control">
						<option selected value="1">High School</option>
						<option value="2">Associate's Degree</option>
						<option value="3">Bachelor's Degree</option>
						<option value="4">Master's Degree</option>
						<option value="5">Master of Business Administration (M.B.A)</option>
						<option value="6">Doctor of Medicine (M.D.)</option>
						<option value="7">Doctor of Philosophy (Ph.D.)</option>
					</select>
				</div> 
				<!-- Field of Study-->
				<div class="form-group" required ng-class="" style="width:500px;">
					<label class="control-label">Field of Study</label>
					<input id="" name="" ng-model="edu.fos" type='text' class="form-control"/>
				</div> 
				
				<!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="eduCancel()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit" ng-disabled="formEdu.$invalid || formEdu.$pristine">Save</button>
				 </div> <br />
				</div><!-- End: div id="college1"-->
				<hr />
				<!-- Button for adding more educational information-->
				<a href="#" class="noDec">
					<button id="addCollege" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;">
						Add a College
					</button>
			    </a>
			  </fieldset>	
			</form>
		</div><!--End: Education Section -->
		
		<!----------------------------->
		<!-- Section: Work Experience-->
		<!----------------------------->
		<div class="marginPD">
		  <a href="#" id="expGlyph" class="noDec colorPD" ng-click="expSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Work Experience</h4>
		  </a>
		  <form name="formExp" id="formExp" novalidate class="well" style="width:820px; height:auto;" ng-hide="hideExpForm" ng-submit="expSubmit()" role="form">
			<!-- Company Name -->
			<div class="form-group" style="width:500px;">
				<label class="control-label" for="companyName">Company Name</label>
				<input id="companyName" name="companyName" ng-model="exp.companyName" required type='text' class="form-control"/>
		   </div>
		   <!-- Title -->
		   <div class="form-group" style="width:500px;">
				<label class="control-label" for="title">Title</label>
				<input id="title" name="title" ng-model="exp.title" required type='text' class="form-control"/>
		   </div>
			<!-- Location -->	
		   <div class="form-group" style="width:500px;">
				<label class="control-label" for="location">Location</label>
				<input id="location" name="location" ng-model="exp.location" required type='text' class="form-control"/>
		   </div>	
			<!-- Duration -->
			<div class="form-group row" ng-class="" style="width:500px; height:auto; margin-left:5px;">
			  <label class="control-label" for="">Duration</label>
			  <div>
			   <select id="durStartmnth" name="durStartmnth" ng-model="exp.durStartmnth" class="form-control col-sm-2" style="width:100px; margin-right:5px;">
				 <option value="jan">January</option>
				 <option value="feb">February</option>
				 <option value="mar">March</option>
				 <option value="apr">April</option>
				 <option value="may">May</option>
				 <option value="jun">June</option>
				 <option value="jul">July</option>
				 <option value="aug">August</option>
				 <option value="sept">September</option>
				 <option value="oct">October</option>
				 <option value="nov">November</option>
				 <option value="dec">December</option>
			   </select>
			 </div>
			<div class="form-group  col-sm-3">
				<input id="durStartyr" name="durStartyr" ng-model="exp.durStartyr" required type='text' placeholder="Year" class="form-control"/>
		    </div>	
			<span class="" style="margin-right:5px;">__</span>
			<div>
			   <select id="durEndmnth" name="durEndmnth" ng-model="exp.durEndmnth" class="form-control col-sm-2" style="width:100px; margin-right:5px; margin-left:30px; margin-top:-20px;">
				 <option value="jan">January</option>
				 <option value="feb">February</option>
				 <option value="mar">March</option>
				 <option value="apr">April</option>
				 <option value="may">May</option>
				 <option value="jun">June</option>
				 <option value="jul">July</option>
				 <option value="aug">August</option>
				 <option value="sept">September</option>
				 <option value="oct">October</option>
				 <option value="nov">November</option>
				 <option value="dec">December</option>
			   </select>
			 </div>
			<div class="form-group col-sm-3">
				<input id="durEndyr" name="durEndyr" ng-model="exp.durEndyr" required type='text' placeholder="Year" style="margin-top:-20px;" class="form-control"/>
		    </div>	
			</div> <!-- End: Duration -->
			<checkbox>I currently hold this position</checkbox>
			
			<div>	
			  <label class="control-label" for="expDesc">Description</label>
			  <textarea rows="10" cols="50" id="expDesc" name="expDesc" ng-model="exp.expDesc" required type='textarea' class="form-control"></textarea>
			</div>	<br />
			<!--Add Buttons -->
			<div style="margin-left:5px;">
			  <button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="expCancel()">Cancel</button> &nbsp;&nbsp;
			  <button class="btn btn-primary" style="font-size:1.2em;" type="submit" ng-disabled="formExp.$invalid || formExp.$pristine">Save</button>
			</div> <br />
			
			<!-- Button for adding more positions-->
				<a href="#" class="noDec">
					<button id="addExp" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;">
						Add a Position
					</button>
			    </a>
		

		  </form>  
		</div>
	  </div> <!-- End: class="col-sm-8 profilePD" -->
	 </div><!--End: Main div content -->
  </div><!--End div class="container-fluid" -->
 <style>
	.changeCss{
		padding-bottom:10px; border-bottom:2px solid #1ea1be; font-weight:bold;
	}
	.colorRed{
		color:#a64c4c;
	}
</style>

