  <!-- ======== @Region: body ======== -->
<!--Provider Information Nav-->
	<nav class="navbar navbar-default navPD" role="navigation">
		<div class="container">
		 <ul class="nav navbar-nav">
			<li><a href="#" class="liPD"><strong>Profile</strong></a></li>
			<li><a href="#" class="liPD">Articles</a></li>
			<li><a href="#" class="liPD">Videos</a></li>
			<li><a href="#" class="liPD">Calender</a></li>
		 </ul>
	   </div>	
	</nav> <!-- End: Provider Information Nav-->
			
   <!--Main div content -->
   <div id="profileSide" class="container-fluid contPD">
     <h3 class="h3PD">Profile</h3>
	 <div class='row'>
	  <div class="col-sm-3 overview">
		<h4 class="h4PD"><a href="#" class="noDec"><strong>Overview</strong></a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">About</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Certifications</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Details</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Education</a></h4>
		<h4 class="h4PD"><a href="#" class="noDec">Work Experience</a></h4>
	 </div>
	  <div id="profileMain" class="col-sm-8 profilePD">
	  <!------------------>
	  <!--About Section -->
	  <!------------------>
		<div class="marginPD" style="margin-top:5px;">
			<a href="#" id="aboutGlyph" class="noDec colorPD" ng-click="aboutSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">About</h4>
			</a>
			<form role="form" name="formAbout" id="formAbout" class="well" style="width:820px;" ng-hide="hideForm" ng-submit="aboutSubmit()">
			  <fieldset>
			   <legend>Basic Information</legend>
				<!-- First and last name -->
				<div class="row">
				  <div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.firstName.$dirty && formAbout.firstName.$valid, 'has-error':formAbout.firstName.$dirty && formAbout.firstName.$invalid}">
					<label class="control-label" for="firstname" name="firstName">First Name</label>
					<div>
						<input name="firstName" type='textbox' class="form-control" ng-model="about.firstName" ng-required="true" ng-pattern="/^[A-Za-z].*/" />
						<div ng-show="formAbout.$submitted || formAbout.firstName.$touched">
							<span class="help-block colorRed" ng-show="formAbout.firstName.$error.required">First Name is required</span>
						</div>
					</div>
				  </div>
				  <div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.lastName.$dirty && formAbout.lastName.$valid, 'has-error':formAbout.lastName.$dirty && formAbout.lastName.$invalid}">
					<label class="control-label" for="lastName" name="lastName">Last Name</label>
					<div>
						<input name="lastName" type='textbox' class="form-control" ng-model="about.lastName" ng-required="true" ng-pattern="/^[A-Za-z].*/" />
						<div ng-show="formAbout.$submitted || formAbout.lastName.$touched">
							<span class="help-block colorRed" ng-show="formAbout.lastName.$error.required">Last Name is required</span>
						</div>
					</div>
				  </div>
				</div>

				<!-- Email and Password -->
			  <div class="row">	
				<div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.emailPD.$dirty && formAbout.emailPD.$valid, 'has-error':formAbout.emailPD.$dirty && formAbout.emailPD.$invalid}">
					<label class="control-label" for="emailPD">Email</label>
					<div>
						<input id="emailPD" name="emailPD" type='email' class="form-control" ng-required="true" ng-model="about.emailPD" />
						<div ng-show="formAbout.$submitted || formAbout.emailPD.$touched">
							<span class="help-block colorRed" ng-show="formAbout.emailPD.$error.required">A valid email is required</span>
						</div>
					</div>
				</div>
					
				<!-- Password -->
				<div class="col-sm-6 form-group" ng-class="{'has-success':formAbout.pwdPD.$dirty && formAbout.pwdPD.$valid, 'has-error':formAbout.pwdPD.$dirty && formAbout.pwdPD.$invalid}">
					<label class="control-label" for="pwdPD">Password</label>
					<div>
						<input id="pwdPD" name="pwdPD" type="password"  ng-required="true" class="form-control" ng-model="about.pwdPD" />
						<div ng-show="formAbout.$submitted || formAbout.pwdPD.$touched">
							<span class="help-block colorRed" ng-show="formAbout.pwdPD.$error.required">Password must contain at least six characters</span>	
						</div>	
					</div>
				</div>
			  </div>	
		      <br/>
			</fieldset>
			
				<!-- Address -->
				<fieldset>
					<legend>Address</legend>
					<div class="row">
					  <div class="form-group col-sm-9">
						<label class="control-label" for="streetPD">Street</label>
						<input id="streetPD" name="streetPD" type="text"  class="form-control" ng-model="about.street"/>
					  </div>
					  <div class="form-group col-sm-3">
						<label class="control-label" for="aptPD">Apt #</label>
						<input id="aptPD" name="aptPD" type="text"  class="form-control" ng-model="about.apt"/>
					  </div>
					</div>
					
					<div class="row">
					  <div class="form-group col-sm-6">
						<label class="control-label" for="cityPD">City</label>
						<input id="cityPD" name="cityPD" type="text"  class="form-control" ng-model="about.city"/>
					  </div>
					  <div class="form-group col-sm-2">
						<label class="control-label" for="statePD">State</label>
						<select id="statePD" name="statePD" type="text"  class="form-control" ng-model="about.state">
							<option value="Alberta" selected>AB</option>
							<option value="BritishColumbia">BC</option>
							<option value="Manitoba">MB</option>
							<option value="NewBrunswick">NB</option>
							<option value="NFL">NL</option>
							<option value="NovaScotia">NS</option>
							<option value="Ontario">ON</option>
							<option value="PEI">PE</option>
							<option value="Quebec">QC</option>
							<option value="Sask">SK</option>
						</select>
					  </div>
					  <div class="form-group col-sm-4">
						<label class="control-label" for="zipPD">Zip</label>
						<input id="zipPD" name="zipPD" type="text" required class="form-control" ng-model="about.zip"/>
					  </div>
					</div>
				</fieldset>
								
				<!--Add Buttons -->
				<div class="form-group" style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="cancelFormAbout()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit">Save</button>
				</div>
			</form>
		</div><!--End: About Section -->
			
		<!--------------------------->
		<!-- Certifications Section-->
		<!--------------------------->
			<div id="provCertDiv" class="marginPD">
			  <a href="#" id="certGlyph" class="noDec colorPD" ng-click="certSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Certifications</h4>
			  </a>
			  <form name="formCert" id="formCert0" novalidate class="well" style="width:750px; height:auto;" ng-hide="hideCertForm" ng-submit="certSubmit()" role="form">
			    <!-- Certification Name-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certName" name="certName">Certification Name</label>
					<input id="certName" name="certName"type='text' class="form-control" />
					<span id="certNameSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>
				  </div>
				 <!-- Certification Authority--> 
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certAuth">Certification Authority</label>
					<input id="certAuth" name="certAuth" type='text' class="form-control" />
					<span id="certAuthSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>
				  </div>
				  <!-- License Number-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certLic">License Number</label>
					<input id="certLic" name="certLic" type='text' class="form-control"/>
				  </div>
				  <!-- Certification URL-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="certUrl">Certification URL</label>
					<input id="certUrl" name="certUrl" ng-model="cert.certUrl" type='url' class="form-control"/>
				  </div>
			   
			     <!--Dates Attended -->
				  <div class="form-group row" ng-class="" style="width:500px; margin-left:5px;">
					<label class="control-label" for="">Dates</label>
					<div> <!-- Date-->
						<select id="certMonth" name="certMonth" class="form-control col-sm-3" style="width:100px; margin-right:15px;">
							<option value="none"></option>
							<option value="jan">January</option>
							<option value="feb">February</option>
							<option value="mar">March</option>
							<option value="apr">April</option>
							<option value="may">May</option>
							<option value="jun">June</option>
							<option value="jul">July</option>
							<option value="aug">August</option>
							<option value="sept">September</option>
							<option value="oct">October</option>
							<option value="nov">November</option>
							<option value="dec">December</option>
						</select>
						
						<!-- Year-->
						<select id="certYear" name="certYear" class="form-control col-sm-1" style="width:80px;">
							<option value="none"></option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
						</select>
						<span class="col-sm-4" style="font-size:1.3em;">-- Present</span> <br />
						
						<div class="checkbox" style="margin-left:5px; margin-top:30px;">
							<label>
								<input type="checkbox" name="certChkbox">This certificate does not expire
							</label>
						</div>
						
					</div>
				</div>
			   <!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="certCancel()">Cancel</button> &nbsp;&nbsp;
					<button id="formCert0Btn" class="btn btn-primary" style="font-size:1.2em;" type="button">Save</button>
					<span id="tinyLoaderImg" style="margin-left:10px; display:none;"><img src="GroupImages/Misc/tiny-loader.gif" /></span>
				 </div> <br />
			  </form>
			  
			  <!-- Add the additional certifications in the div below-->
			  <div id="addCertDiv" ng-hide="hideCertBtn"></div>	
			  
			<!-- Button for adding more certifications-->
			<div class="noDec" ng-hide="hideCertBtn">
				<button id="addCert" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;">
					Add a Certification
				</button>
			</div>
		  </div> <!-- End: Certifications Section -->
	
		<!-------------------->
		<!-- Details Section-->
		<!-------------------->
		<div class="marginPD">
			<a href="#" id="detailGlyph" class="noDec colorPD" ng-click="detailSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Details</h4>
			</a>
			 <form name="formDetail" id="formDetail" novalidate class="well" style="width:820px; height:auto;" ng-hide="hideDetailForm" ng-submit="detailSubmit()" role="form">
			   <div>	
				<label class="control-label" for="detailSummary">Provide a Summary of Your Experiences</label>
				<textarea rows="10" cols="50" id="detailSummary" name="detailSummary" ng-model="detail.summary" required type='textarea' class="form-control"></textarea>
			   </div>	<br />
			   <!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="detailCancel()">Cancel</button> &nbsp;&nbsp;
					<button class="btn btn-primary" style="font-size:1.2em;" type="submit" ng-disabled="formDetail.$invalid || formDetail.$pristine">Save</button>
				 </div> <br />
			 </form>
		</div>
		
		<!----------------------->
		<!-- Education Section -->
		<!----------------------->
		<div class="marginPD">
			<a href="#" id="eduGlyph" class="noDec colorPD" ng-click="eduSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Education</h4>
			</a>
			<form name="formEdu0" id="formEdu0" novalidate class="well" style="width:750px; height:auto;"  ng-hide="hideEduForm"  role="form">
			  <fieldset>
			    <legend>College / University</legend>
				<div id="college1">
				  <!-- School Name-->
				  <div class="form-group" style="width:500px;">
					<label class="control-label" for="eduSchool">School</label>
					<input id="eduSchool" name="eduSchool" type='text' class="form-control"/>
					<span id="eduSchSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>				
				  </div>
				  <!--Dates Attended -->
				  <div class="form-group row" ng-class="" style="width:500px; margin-left:5px;">
					<label class="control-label" for="">Dates Attended</label>
					<div> <!-- Start Date-->
						<select id="edustartDt" name="edustartDt" class="form-control col-sm-2" style="width:80px;">
							<option value="" selected></option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
						</select>
						<span class="col-sm-2" style="margin-right:-30px;">__</span>
						<!-- End Date-->
						<select id="eduendDt" name="eduendDt" class="form-control col-sm-1" style="width:80px;">
							<option value="2017" selected></option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
						</select>
					</div>
				</div>
				<!-- Degree-->
				<div class="form-group" style="width:500px;">
					<label class="control-label" for="eduDegree">Degree</label>
					<select id="eduDegree" name="eduDegree" class="form-control">
						<option value="" selected></option>
						<option value="1">High School</option>
						<option value="2">Associate's Degree</option>
						<option value="3">Bachelor's Degree</option>
						<option value="4">Master's Degree</option>
						<option value="5">Master of Business Administration (M.B.A)</option>
						<option value="6">Doctor of Medicine (M.D.)</option>
						<option value="7">Doctor of Philosophy (Ph.D.)</option>
					</select>
					<span id="eduDegSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>
				</div> 
				<!-- Field of Study-->
				<div class="form-group" style="width:500px;">
					<label class="control-label">Field of Study</label>
					<input id="fos" name="fos" type='text' class="form-control"/>
					<span id="eduFosSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>				
				</div> 
				
				<!--Add Buttons -->
				<div style="margin-left:5px;">
					<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="eduCancel()">Cancel</button> &nbsp;&nbsp;
					<button id="formEduBtn0" class="btn btn-primary" style="font-size:1.2em;" type="button">Save</button>
					<span id="eduLoadImg" style="margin-left:10px; display:none;"><img src="GroupImages/Misc/tiny-loader.gif" /></span>	
				 </div> <br />
				</div><!-- End: div id="college1"-->
				<br />
			</form>
		</fieldset>		

			
			  <!-- Add the additional certifications in the div below-->
			  <div id="addEduDiv" ng-hide="hideEduBtn"></div>	
		
		
				<!-- Button for adding more educational information-->
				<div href="#" class="noDec" ng-hide="hideEduBtn">
					<button id="addCollege" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;">
						Add a College
					</button>
			    </div>

		
		</div><!--End: Education Section -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!----------------------------->
		<!-- Section: Work Experience-->
		<!----------------------------->
		<div class="marginPD">
		  <a href="#" id="expGlyph" class="noDec colorPD" ng-click="expSec()" glyph-dir>
				<span class="glyphicon glyphicon-plus glyphPlus" aria-hidden="true"></span>
				<h4 class="h4FormPD">Work Experience</h4>
		  </a>
		  <form name="formExp0" id="formExp0" novalidate class="well" style="width:750px; height:auto;" ng-hide="hideExpForm" role="form">
			<!-- Company Name -->
			<div class="form-group" style="width:500px;">
				<label class="control-label" for="companyName">Company Name</label>
				<input id="companyName" name="companyName" class="form-control"/>
		   </div>
		   <!-- Title -->
		   <div class="form-group" style="width:500px;">
				<label class="control-label" for="exptitle">Title</label>
				<input id="exptitle" name="exptitle" type='text' class="form-control"/>
		   </div>
			<!-- Location -->	
		   <div class="form-group" style="width:500px;">
				<label class="control-label" for="expLoc">Location</label>
				<input id="expLoc" name="expLoc" type='text' class="form-control"/>
		   </div>	
			<!-- Duration -->
			<div class="form-group row" style="width:500px; height:auto; margin-left:5px;">
			  <label class="control-label" for="">Duration</label>
			  <div>
			   <select id="expStrtmnth" name="expStrtmnth" class="form-control col-sm-2" style="width:100px; margin-right:5px;">
				 <option value=""></option>
				 <option value="jan">January</option>
				 <option value="feb">February</option>
				 <option value="mar">March</option>
				 <option value="apr">April</option>
				 <option value="may">May</option>
				 <option value="jun">June</option>
				 <option value="jul">July</option>
				 <option value="aug">August</option>
				 <option value="sept">September</option>
				 <option value="oct">October</option>
				 <option value="nov">November</option>
				 <option value="dec">December</option>
			   </select>
			 </div>
			<div class="form-group  col-sm-3">
				<input id="expStrtyr" name="expStrtyr" type='text' placeholder="Year" class="form-control"/>
		    </div>	
			<span class="" style="margin-right:5px;">__</span>
			<div>
			   <select id="expEndmnth" name="expEndmnth" class="form-control col-sm-2" style="width:100px; margin-right:5px; margin-left:30px; margin-top:-20px;">
				 <option value=""></option>
				 <option value="jan">January</option>
				 <option value="feb">February</option>
				 <option value="mar">March</option>
				 <option value="apr">April</option>
				 <option value="may">May</option>
				 <option value="jun">June</option>
				 <option value="jul">July</option>
				 <option value="aug">August</option>
				 <option value="sept">September</option>
				 <option value="oct">October</option>
				 <option value="nov">November</option>
				 <option value="dec">December</option>
			   </select>
			 </div>
			<div class="form-group col-sm-3">
				<input id="expEndyr" name="expEndyr" type='text' placeholder="Year" style="margin-top:-20px;" class="form-control"/>
		    </div>	
			</div> <!-- End: Duration -->
			<checkbox>I currently hold this position</checkbox>
			
			<div>	
			  <label class="control-label" for="expDesc">Description</label>
			  <textarea rows="10" cols="50" id="expDesc" name="expDesc"type='textarea' class="form-control"></textarea>
			</div>	<br />
			
			<!--Add Cancel and Save Buttons -->
			<div style="margin-left:5px;">
			  <button class="btn btn-default" style="font-size:1.2em;" type="button">Cancel</button> &nbsp;&nbsp;
			  <button class="btn btn-primary" style="font-size:1.2em;" type="button">Save</button>
			</div> <br />
			
			<!-- Button for adding more positions-->
				<a href="#" class="noDec">
					<button id="addExp" type="button" class="btn btn-primary" style="width:750px; height:40px; margin-top:15px; font-size:1.4em;">
						Add a Position
					</button>
			    </a>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		  </form>  
		</div>
	  </div> <!-- End: class="col-sm-8 profilePD" -->
	 </div><!--End: Main div content -->
  </div><!--End div class="container-fluid" -->
 <style>
	.changeCss{
		padding-bottom:10px; border-bottom:2px solid #1ea1be; font-weight:bold;
	}
</style>


<script>
	$(document).ready(function(){
		/**************************************************************
		/*******************Certification Section**********************
		***************************************************************/
		//First Certification Section - Save
		$("#formCertBtn0").click(function(e){
			//Serialize data for form submission
			var datastring = $('#formCert0').serializeArray();
			console.log('datastring: ' + datastring);
			
			//Verifying for the Certification Name					
			var jsonStrEduSch = JSON.stringify(datastring[0]); //convert the serialized object into json string
			console.log("JSONstring CertName: " + jsonStrEduSch);
					
			var jsonParsedCertName = JSON.parse(jsonStrEduSch); //convert json string into json object
			console.log("JSONparsed CertName: " + jsonParsedCertName.value);
			
			//Verifying for the Certification Authority					
			var jsonStrEduDeg = JSON.stringify(datastring[1]); //convert the serialized object into json string
			console.log("JSONstring CertAuth: " + jsonStrEduDeg);
					
			var jsonParsedCertAuth = JSON.parse(jsonStrEduDeg); //convert json string into json object
			console.log("JSONparsed CertAuth: " + jsonParsedCertAuth.value);
			
			//Checking for CertName and CertAuth values 
			if((jsonParsedCertName.value !== "") && (jsonParsedCertAuth.value !== "")){
				$("#tinyLoaderImg").css('display', 'inline');
				$.ajax({
					type:"POST",
					url: "http://rest.learncode.academy/api/arch/Cert_Forms",
					data : datastring,
					dataType:"json",
					success: function(data){
						console.log('Success: ' + data);
						$("#tinyLoaderImg").css('display', 'none');
						$("#formCert0Btn").html("Saved");
					},
					error: function(){
						alert("Error submitting form. Please try again!");
					}
				});//end ajax
				
				//Hide the 'This field is required' message
				$('#certNameSpan').css('display','none');
				$('#certAuthSpan').css('display','none');
			
			}//End if
			
			else{
				if((jsonParsedCertName.value == "")&&(jsonParsedCertAuth.value == "")){
					console.log("Please enter a valid certification name and certification authority");
					$('#certNameSpan').css('display','inline');
					$('#certAuthSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
			
				if(jsonParsedCertName.value == ""){
					console.log("Please enter a valid certifcation name");
					$('#certNameSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
				if(jsonParsedCertAuth.value == ""){
					console.log("Please enter a valid certifcation authority");
					$('#certAuthSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;	
				}
			}//End else

		}); //End formCert0Btn click
		
		var newCert = '';
		var certCount = 0 ;
		
		//var $certName = $('#certName');
		//var $certAuth = $('#certAuth');
		
		//Add more certifications		
		$("#addCert").click(function(e){
			//alert("Working");
			e.preventDefault();
			certCount = certCount + 1 ; 
			console.log('Certificate Count: ' + certCount);
				var newCert = '<form name="formCert" id="formCert'+certCount+'" novalidate class="well" style="width:750px; height:auto;"'; 
				newCert += 'ng-hide="hideCertForm">';
				//Certification Name
				newCert += '<div class="form-group" style="width:500px;">';
				newCert += '<label class="control-label" for="certName">Certification Name</label>';
				newCert += '<input id="certName" name="certName" required type="text" class="form-control colorRed"/><span class="cert_NameSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>';
				newCert += '</div>';
				//Certification Authority				
				newCert += 	'<div class="form-group" style="width:500px;">';
				newCert += 	'<label class="control-label" for="certAuth">Certification Authority</label>';
				newCert += 	'<input id="certAuth" name="certAuth" required type="text" class="form-control"/><span class="cert_AuthSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>';
				newCert +=  '</div>';
				//License Number				
				newCert +=  '<div class="form-group" style="width:500px;">';
				newCert +=  '<label class="control-label" for="certLic">License Number</label>';
				newCert +=  '<input id="certLic" name="certLic" type="text" class="form-control"/>';
				newCert +=  '</div>';
				//Certification URL 
				newCert += 	'<div class="form-group" style="width:500px;">';
				newCert += 	'<label class="control-label" for="certUrl">Certification URL</label>';
				newCert += 	'<input id="certUrl" name="certUrl" type="url" class="form-control"/>';
				newCert +=  '</div>';
				//Dates Attended				
				newCert +=  '<div class="form-group row" ng-class="" style="width:500px; margin-left:5px;">';
				newCert +=  '<label class="control-label" for="">Dates</label>';
				newCert +=  '</div>' ;
				newCert +=  '<select id="certMonth" name="certMonth" class="form-control col-sm-3" style="width:100px; margin-right:15px;">';
				newCert +=  '<option value="none"></option>';
				newCert +=  '<option value="jan">January</option>';
				newCert +=  '<option value="feb">February</option>';
				newCert +=  '<option value="mar">March</option>';
				newCert +=  '<option value="apr">April</option>';
				newCert +=  '<option value="may">May</option>';
				newCert +=  '<option value="jun">June</option>';
				newCert +=  '<option value="jul">July</option>';
				newCert +=  '<option value="aug">August</option>';
				newCert +=  '<option value="sept">September</option>';
				newCert +=  '<option value="oct">October</option>';
				newCert +=  '<option value="nov">November</option>';
				newCert +=  '<option value="dec">December</option>';
				newCert +=  '</select>';
				//Year
				newCert +=  '<select id="certYear" name="certYear" class="form-control col-sm-1" style="width:80px;">';
				newCert +=  '<option value="none"></option>';
				newCert +=  '<option value="2015">2015</option>';
				newCert +=  '<option value="2014">2014</option>';
				newCert +=  '<option value="2013">2013</option>';
				newCert +=  '<option value="2012">2012</option>';
				newCert +=  '<option value="2011">2011</option>';
				newCert +=  '<option value="2010">2010</option>';
				newCert +=  '<option value="2009">2009</option>';
				newCert +=  '<option value="2008">2008</option>';
				newCert +=  '<option value="2007">2007</option>';
				newCert +=  '<option value="2006">2006</option>';
				newCert +=  '<option value="2005">2005</option>';
				newCert +=  '</select>';
				newCert +=  '<span class="col-sm-4" style="font-size:1.3em;">-- Present</span> <br />';
				newCert +=  '<div class="checkbox" style="margin-left:5px; margin-top:30px;">';
				newCert +=  '<label>';
				newCert +=  '<input type="checkbox" name="certChkbox">This certificate does not expire';
				newCert +=  '</label>';
				newCert +=  '</div>';
				newCert +=  '<div margin-left:5px;>';
				newCert +=  '<button class="btn btn-default" style="font-size:1.2em;" type="button" ng-click="certCancel()">Cancel</button> &nbsp;&nbsp;';
				newCert +=  '<button class="btn btn-primary certBtn" style="font-size:1.2em;" type="button">Save</button>';
				newCert +=  '<span class="tinyLoader_Img" style="margin-left:10px; display:none;"><img src="GroupImages/Misc/tiny-loader.gif" /></span>';
				newCert +=  '</div><br />';
				newCert += '</form>';
							
			$("#addCertDiv").append(newCert);
				
			//Form processing for dynmically added Certification forms
			$(".certBtn").click(function(e){
				//Serialize data for form submission
				var datastring = $('#formCert'+certCount).serializeArray();
				console.log('datastring: ' + datastring);
				
				//Certification Name					
				var jsonStrEduSch = JSON.stringify(datastring[0]); //convert the serialized object into json string
				console.log("JSONstring CertName: " + jsonStrEduSch);
						
				var jsonParsedCertName = JSON.parse(jsonStrEduSch); //convert json string into json object
				console.log("JSONparsed CertName: " + jsonParsedCertName.value);
				
				//Certification Authority					
				var jsonStrEduDeg = JSON.stringify(datastring[1]); //convert the serialized object into json string
				console.log("JSONstring CertAuth: " + jsonStrEduDeg);
						
				var jsonParsedCertAuth = JSON.parse(jsonStrEduDeg); //convert json string into json object
				console.log("JSONparsed CertAuth: " + jsonParsedCertAuth.value);
				
				//Checking for CertName and CertAuth values 
				if((jsonParsedCertName.value !== "") && (jsonParsedCertAuth.value !== "")){
					$(".tinyLoader_Img").css('display', 'inline');
					$.ajax({
						type:"POST",
						url: "http://rest.learncode.academy/api/arch/Cert_Forms",
						data : datastring,
						dataType:"json",
						success: function(data){
							console.log('Success: ' + data);
							$(".tinyLoader_Img").css('display', 'none');
							$(".certBtn").html("Saved");
						},
						error: function(){
							alert("Error submitting form. Please try again!");
						}
					});//end ajax
					
					//Hide the 'This field is required' message
					$('.cert_NameSpan').css('display','none');
					$('.cert_AuthSpan').css('display','none');
				
				}//End if
				else{
					if((jsonParsedCertName.value == "")&&(jsonParsedCertAuth.value == "")){
						console.log("Please enter a valid certification name and certification authority");
						$('.cert_NameSpan').css('display','inline');
						$('.cert_AuthSpan').css('display','inline');
						e.preventDefault(); e.stopImmediatePropagation();
						return false;
					}
				
					if(jsonParsedCertName.value == ""){
						console.log("Please enter a valid certifcation name");
						$('.cert_NameSpan').css('display','inline');
						e.preventDefault(); e.stopImmediatePropagation();
						return false;
					}
					if(jsonParsedCertAuth.value == ""){
						console.log("Please enter a valid certifcation authority");
						$('.cert_AuthSpan').css('display','inline');
						e.preventDefault(); e.stopImmediatePropagation();
						return false;	
					}
				}//End else
	
			}); //End click for certBtn
			
		}); //End click for addCert
		
		/**************************************************************
		/***********************Education Section**********************
		***************************************************************/
		//First Education Section
		$("#formEduBtn0").click(function(e){
			//Serialize data for form submission
			var datastring = $('#formEdu0').serializeArray();
			console.log('datastring for formEdu0: ' + datastring);
			
			/*************Data checking*****************
			var jsonStr1 = JSON.stringify(datastring[1]); 
			console.log("JSONstring1: " + jsonStr1);
			var jsonStr2 = JSON.stringify(datastring[2]);
			console.log("JSONstring2: " + jsonStr2);
			var jsonStr3 = JSON.stringify(datastring[3]);
			console.log("JSONstring3: " + jsonStr3);
			var jsonStr4 = JSON.stringify(datastring[4]);
			console.log("JSONstring4: " + jsonStr4);
			*******************************************/
		
			//Verifying for the Education School					
			var jsonStrEduSch = JSON.stringify(datastring[0]); //convert the serialized object into json string
			var jsonParsedEduSch = JSON.parse(jsonStrEduSch); //convert json string into json object
			console.log("JSONparsed EduSch: " + jsonParsedEduSch.value);
			
			//Verifying for the Education Degree				
			var jsonStrEduDeg = JSON.stringify(datastring[3]); 
			var jsonParsedEduDeg = JSON.parse(jsonStrEduDeg); 
			console.log("JSONparsed EduDeg: " + jsonParsedEduDeg.value);
			
			//Verifying for the Education FOS					
			var jsonStrEduFos = JSON.stringify(datastring[4]); 
			var jsonParsedEduFos = JSON.parse(jsonStrEduFos); 
			console.log("JSONparsed EduFos: " + jsonParsedEduFos.value);
						
			//Checking for EduSch, EduFos and EduDeg values 
			if((jsonParsedEduSch.value !== "") && (jsonParsedEduDeg.value !== "")&& (jsonParsedEduFos.value !== "")){
				$(".tinyLoader_Img").css('display', 'inline');
				$.ajax({
					type:"POST",
					url: "http://rest.learncode.academy/api/arch/Edu_Forms",
					data : datastring,
					dataType:"json",
					success: function(data){
						console.log('Success: ' + data);
						$(".tinyLoader_Img").css('display', 'none');
						$("#formEduBtn0").html("Saved");
					},
					error: function(){
						alert("Error submitting form. Please try again!");
					}
				});//end ajax
				
				//Hide the 'This field is required' message
				$('#eduSchSpan').css('display','none');
				$('#eduDegSpan').css('display','none');
				$('#eduFosSpan').css('display','none');
			
			}//End if
			
			else{
				if((jsonParsedEduSch.value == "")&&(jsonParsedEduDeg.value == "")&&(jsonParsedEduFos.value == "")){
					console.log("Please enter a school name and degree");
					$('#eduSchSpan').css('display','inline');
					$('#eduDegSpan').css('display','inline');
					$('#eduFosSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
			
				if(jsonParsedEduSch.value == ""){
					console.log("Please enter a valid certifcation name");
					$('#eduSchSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
				if(jsonParsedEduDeg.value == ""){
					console.log("Please enter a valid certifcation authority");
					$('#eduDegSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;	
				}
				if(jsonParsedEduFos.value == ""){
					console.log("Please enter a valid field of study");
					$('#eduFosSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;	
				}
			}//End else

		}); //End formCert0Btn click
		
		//Dynamically add Education forms
		var collCount = 0;
		$("#addCollege").click(function(e){
			e.preventDefault();
			collCount = collCount + 1 ;
			console.log('Certificate Count: ' + collCount);

		var newColl = "<form name='formEdu"+ collCount+"' id='formEdu"+ collCount+"' novalidate class='well' style='width:750px; height:auto;'";
		    newColl += 'ng-hide="hideEduForm"  role="form"><fieldset><legend>College / University</legend><div id="">';
		<!-- School Name-->
		newColl += '<div class="form-group" style="width:500px;"><label class="control-label" for="eduSchool">School</label>';
		newColl += '<input id="eduSchool" name="eduSchool" type="text" class="form-control"/><span class="eduSchSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span></div>';
		newColl += '<div class="form-group row" style="width:500px; margin-left:5px;">';
		newColl += '<label class="control-label" for="">Dates Attended</label>';
		<!-- Start Date-->
		newColl += '<div><select id="edustartDt" name="edustartDt" class="form-control col-sm-2" style="width:80px;">';
		newColl += '<option value=""selected></option> <option value="2015">2015</option>';
		newColl += '<option value="2014">2014</option><option value="2013">2013</option>';
		newColl += '<option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option>';
		newColl += '<option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option>';
		newColl += '<option value="2006">2006</option><option value="2005">2005</option></select>';
		newColl += '<span class="col-sm-2" style="margin-right:-30px;">__</span>';
		<!-- End Date-->
		newColl += '<select id="eduendDt" name="eduendDt" class="form-control col-sm-1" style="width:80px;">';
		newColl += '<option value="" selected></option><option value="2017">2017</option>';
		newColl += '<option value="2016">2016</option><option value="2015">2015</option>';
		newColl += '<option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option>';
		newColl += '<option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option>';
		newColl += '<option value="2008">2008</option><option value="2007">2007</option></select></div></div>';
		<!-- Degree-->
		newColl += '<div class="form-group" style="width:500px;"><label class="control-label" for="eduDegree">Degree</label>';
		newColl += '<select id="eduDegree" name="eduDegree" class="form-control">';
		newColl += '<option value="" selected></option><option value="1">High School</option>';
		newColl += "<option value='2'>Associate's Degree</option><option value='3'>Bachelor's Degree</option>";
		newColl += "<option value='4'>Master's Degree</option><option value='5'>Master of Business Administration (M.B.A)</option>";
		newColl += '<option value="6">Doctor of Medicine (M.D.)</option><option value="7">Doctor of Philosophy (Ph.D.)</option>';
		newColl += '</select><span class="eduDegSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span>';
		newColl += '</div>'; 
		<!-- Field of Study-->
		newColl += '<div class="form-group" style="width:500px;"><label class="control-label">Field of Study</label>';
		newColl += '<input id="fos" name="fos" type="text" class="form-control"/>';
		newColl += '<span class="eduFosSpan" style="display:none; color:#a64c4c; font-weight:bold;">This field is required!</span></div>'; 
		<!--Add Buttons -->
		newColl += '<div style="margin-left:5px;"><button class="btn btn-default" style="font-size:1.2em;"';
		newColl += 'type="button" >Cancel</button> &nbsp;&nbsp;';
		newColl += '<button id="formEduBtn'+collCount+'" class="btn btn-primary" style="font-size:1.2em;" type="button">Save</button>';
		newColl += '<span id="eduLoadImg" style="margin-left:10px; display:none;">';
		newColl += '<img src="GroupImages/Misc/tiny-loader.gif" /></span>';	
		newColl += '</div> <br /></div><br /></form>';
		
		$("#addEduDiv").append(newColl);
		
		//Process dynamically added Education Forms
		$("#formEduBtn"+collCount).click(function(e){
			//Serialize data for form submission
			var datastring = $('#formEdu'+collCount).serializeArray();
			console.log('datastring for formEdu0: ' + datastring);
			
			/*************Data checking*****************
			var jsonStr1 = JSON.stringify(datastring[1]); 
			console.log("JSONstring1: " + jsonStr1);
			var jsonStr2 = JSON.stringify(datastring[2]);
			console.log("JSONstring2: " + jsonStr2);
			var jsonStr3 = JSON.stringify(datastring[3]);
			console.log("JSONstring3: " + jsonStr3);
			var jsonStr4 = JSON.stringify(datastring[4]);
			console.log("JSONstring4: " + jsonStr4);
			*******************************************/
		
			//Verifying for the Education School					
			var jsonStrEduSch = JSON.stringify(datastring[0]); //convert the serialized object into json string
			var jsonParsedEduSch = JSON.parse(jsonStrEduSch); //convert json string into json object
			console.log("JSONparsed EduSch: " + jsonParsedEduSch.value);
			
			//Verifying for the Education Degree				
			var jsonStrEduDeg = JSON.stringify(datastring[3]); 
			var jsonParsedEduDeg = JSON.parse(jsonStrEduDeg); 
			console.log("JSONparsed EduDeg: " + jsonParsedEduDeg.value);
			
			//Verifying for the Education FOS					
			var jsonStrEduFos = JSON.stringify(datastring[4]); 
			var jsonParsedEduFos = JSON.parse(jsonStrEduFos); 
			console.log("JSONparsed EduFos: " + jsonParsedEduFos.value);
						
			//Checking for EduSch, EduFos and EduDeg values 
			if((jsonParsedEduSch.value !== "") && (jsonParsedEduDeg.value !== "")&& (jsonParsedEduFos.value !== "")){
				$(".tinyLoader_Img").css('display', 'inline');
				$.ajax({
					type:"POST",
					url: "http://rest.learncode.academy/api/arch/Edu_Forms",
					data : datastring,
					dataType:"json",
					success: function(data){
						console.log('Success: ' + data);
						$(".tinyLoader_Img").css('display', 'none');
						$("#formEduBtn"+collCount).html("Saved");
					},
					error: function(){
						alert("Error submitting form. Please try again!");
					}
				});//end ajax
				
				//Hide the 'This field is required' message
				$('.eduSchSpan').css('display','none');
				$('.eduDegSpan').css('display','none');
				$('.eduFosSpan').css('display','none');
			
			}//End if
			
			else{
				if((jsonParsedEduSch.value == "")&&(jsonParsedEduDeg.value == "")&&(jsonParsedEduFos.value == "")){
					console.log("Please enter a school name and degree");
					$('.eduSchSpan').css('display','inline');
					$('.eduDegSpan').css('display','inline');
					$('.eduFosSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
			
				if(jsonParsedEduSch.value == ""){
					console.log("Please enter a valid certifcation name");
					$('.eduSchSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;
				}
				if(jsonParsedEduDeg.value == ""){
					console.log("Please enter a valid certifcation authority");
					$('.eduDegSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;	
				}
				if(jsonParsedEduFos.value == ""){
					console.log("Please enter a valid field of study");
					$('.eduFosSpan').css('display','inline');
					e.preventDefault(); e.stopImmediatePropagation();
					return false;	
				}
			}//End else

		}); //End formEduBtn click
		
	}); //End click for addCollege
		
		/**************************************************************
		/*******************Work Experience Section********************
		***************************************************************/
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	
	});//End ready

</script>


































