body{
	color:#000000;
	font-family: sans-serif ;
	font-size: 15px;
	background-color:#f8f8f8;
}

.navbar{
	border-radius:0;
	font-size:17px;
	background-color:#1ea1be;
	
}

.navbar-default{
	border-bottom-style:solid;
	border-bottom-color:#1ea1be;
	border-top-style:solid;
	border-top-color:#1ea1be;
}

.liNav{
	color:#ffffff !important;
	font-weight:bold;
}

#headZyma{
	color:#ffffff;
	font-size:30px;
	font-weight:700;
	font-style:oblique;
}

#headLife{
	color:#ffffff !important;
	font-size:30px;
	font-weight:700;
	font-style:oblique;
}

nav .container{width:1366px;}

.mainContent{
	width:1200px; 
	margin-left:60px;
}

.divStyle{
	width:270px; 
	border:1px solid #e5e5e5; 
	margin-left:25px; 
	background-color:#ffffff; 
	height:300px; 
	margin-bottom:20px;
}

.h4Style{
	margin-left:-5px; 
	color:#226f45; 
	width:270px;
	font-weight:bold;
}

.paraStyle{
	 margin-top:5px;
}

.imgLazy{
	width:268px !important; margin-left:-15px; height:200px;
		}

.changeColor{
	background-color:#000000 !important ;
	
}

#wellUL{
	opacity:.9;
}

.wellItem{
	font-weight:bold !important; 
	font-size:15px;
}

.wellImage{
	height:200px; 
	width:1195px; 
	padding-bottom:40px; 
	padding-left:40px; 
	margin-left:60px;
}
	
.wellImageHead{
	 margin-top:-160px; margin-left:475px; height:50px; color:#ffffff; font-size:80px;
}

.footerStyle{
	background-color:#ccced0; color:#454547; margin-top:0px; width:100%; height:200px;
}

.navPage{
	 margin-top:30px; margin-left:350px;
}

#search-data{
	height:27px; width:180px; border-radius:30px; margin-right:300px; margin-top:10px;
}

.dietHeader{
	 color:#000000; margin-top:10px; margin-left:70px; font-weight:bold;
}

.dietPara{
	 margin-left:70px; margin-right:40px; font-size:18px;
}

.providerList{
	 padding-left:20px; padding-top:10px; font-weight:bold; color:#000000; margin-top:10px;
}

.imgDiet{
	width:600px; height:350px;
}

.providerStyle{
	width:290px; 
	border:1px solid #e5e5e5; 
	margin-left:35px; 
	background-color:#ffffff; 
	height:300px; 
	margin-bottom:30px;
	
}

.h4ProviderStyle{
	margin-left:-5px; 
	color:#000000; 
	width:270px;
	font-weight:bold;
	font-size:18px;
	margin-bottom:-15px;
	margin-top:240px !important;
}

.h6ProviderStyle{
	margin-left:-5px; 
	color:#000000; 
	width:270px;
	font-size:15px;
	margin-bottom:20px !important;
	
	height:10px;
}

.imgProvider{
	 position:absolute; margin-left:-15px; height:240px; width:288px !important;
}

.providerText{
	 position:absolute; margin-left:-15px; height:240px; width:288px !important; background-color:#4a8cc4; color:#ffffff; padding-left:20px; padding-top:25px; padding-right:20px; padding-bottom:20px; font-weight:bold;
}

.circleStyle{
	display:inline-block;
    width:9px;
    height:9px;
    margin:-1px 0px 0 0;
    -moz-border-radius:  50%;
    border-radius:  50%;
	border:1px;
	background-color:#bbd4e9;
}
	
. introWell{width:675px; height:220px;}	
	
.jumboStyle{margin-left:-15px; margin-top:40px; width:675px; height:350px;}	

.provBtnGroup{margin-left:-60px; margin-top:-55px; margin-bottom:20px; width:675px;}

.jumboh4{"margin-left:0px; margin-bottom:10px;}
	
.changeCircleColor{background-color:#11436d;}

.providerSort{background-color:#f3f3f3; margin-right:-55px;}

.sortColor{color:#226f45;}

.providerButton{background-color:#1ea1be; color:#ffffff; width:225px; font-weight:bold;}

.providerDetails{padding-top:10px; font-size:18px;}

.providerHeader{margin-top:-4px; margin-left:0px;}

.providerExp{font-size:16px; margin-top:0px; width:675px;}

.listStyle{list-style-type: none; padding-left:0;}

#map-canvas {width: 550px; height: 250px; background-color: #CCC;}

table, th, td {
			border: 1px solid #cccccc;
			border-collapse: collapse;
		}
		td {
			padding:2px;
			text-align: center; 
			width:20px;
			background-color:#006690;
			color:#ffffff;
			font-weight:bold;
		}
		
		th{
			padding-left: 15px;
			padding-right:5px;
			padding-top:5px;
			padding-bottom:5px;
			text-align: left;    
		}
		
.tdStyle{text-decoration:none; color:#ffffff;}

.tabColor{color:#407CC9;}
		
.calGlyphLeft{text-decoration:none !important; margin-top:15px; margin-left:-10px; margin-right:-15px;}
		
.calGlyphRight{text-decoration:none !important; margin-top:15px; margin-left:0px;  margin-right:0px; width:5px;}

.apptH4{font-weight:bold; margin-bottom:-15px; margin-top:20px; margin-left:25px;}
		
.divOutAppt{width:600px; height:300px; margin-top:20px;}		

.divInAppt{background-color:#ffffff; width:82px; height:280px; margin-right:-9px; text-align:left; font-weight:bold; border:1px solid #d8e4f4;}

.apptTime{background-color:#60B646; color:#ffffff; width:80px; height:25px; font-weight:bold; margin-left:-14.1px; padding-left:3px;}

.apptTimeDiv{margin-top:1.1px !important; height:25px;}

.h3Videos{margin-left:-5px; margin-bottom:0px;}

.vidDiv{margin-top:0px; width:420px;}

.iframeMargin{margin-top:20px;}

.h3Art{margin-left:-5px; margin-top:40px;}

.artDiv{width:390px; height:200px; margin-right:25px;}

.artImg{width:390px; height:200px;}

.noDec{text-decoration:none !important;}

.h3Rev{margin-left:-5px; margin-top:60px; padding-top:30px;}

.overview{
	background-color:#ffffff; height:800px; margin-top:0px; margin-bottom:0px; margin-left:55px; border-right-style:solid; border-right-width:1px; border-right-color:#dfdfdf;
}

.navPD{
	 margin-top:-20px; margin-bottom:-10px;  margin-left:-20px; background-color:#ffffff; border-top-style:solid; border-top-color:#ffffff; border-bottom-color:#1ea1be; border-bottom-width:3px;
}
		
.liPD{color:#1b90ab !important; font-size:1.2em;}		
		
.h3PD{color:#ffffff; margin-left:40px; margin-bottom:0px; border-width:1px; border-color:#1ea1be; background-color:#1ea1be; border-style:solid; height:50px; width:1347px; padding-left:20px; padding-top:10px;
}

.profilePD{
	 background-color:#ffffff; height:800px; margin-top:0px;
 	 margin-bottom:0px; margin-left:0px;
}

.contPD{margin-left:30px; margin-top:20px;}

.h4PD{padding-left:10px; padding-bottom:15px; padding-top:10px; font-size:1.4em;}

.colorPD{color:#000000 !important;}

.h4FormPD{padding-left:10px; padding-bottom:15px; font-size:1.7em; margin-top:-25px; margin-left:17px;}

.glyphPlus{
	 margin-top:20px; margin-bottom:-5px; margin-left:6px; margin-right:10px; border-style:solid; border-width:1px; border-color:#c9c9c9; padding:2; font-size:.8em;
}

.marginPD{margin-left:50px;}

/*CSS for landing page*/

.imgBright{
		-webkit-filter: brightness(50%);
		-moz-filter: brightness(50%);
	}
	
	.main-nav, .main {
	  position: relative; 
	}
	.main-nav {
	  background: #448aff; color:#ffffff !important;
	  height: 80px;
	  z-index: 150;
	  margin-bottom: -80px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.4);
	}

	.main-nav-scrolled {
	  position: fixed;
	  width: 100%;
	  top: 0;
	}
	.main {
	  padding: 110px 0px 50px 0px;
	 }
		
	#mainCont{height:2000px;}	
	
	#imgVid{height:600px !important; width:100%; margin-bottom:0px;}
		
	.imgCarousel{height:600px !important; margin-top:-20px; margin-bottom:0px; width:100%;}	
	
	.imgTwo{margin-left:0px;}
	
	.imgThree{margin-left:0px; padding-left:0px; width:101.5%;}
	
	#introWellVideo{margin-top:215px; height:580px; display:block;}
	
	#imgCont{height:600px !important; margin:0; padding:0; position:absolute; width:100%;}


	.carouselCaption{cursor:pointer; color:#ffffff; margin-top:200px; padding-top:200px; margin-left:48%; height:600px;}	
		
	.carouselH1{color:#ffffff; font-size:2em; font-weight:bold; margin-left:35%; margin-top:-270px;}	
		
	.spanFont{font-size:4em;}	
	
	.getStarted{height:700px; margin-top:-20px;}	
	
	.startImg{height:700px; width:1500px; position:absolute; overflow:hidden;}
	
	.startDiv{height:700px; color:#ffffff; background-color:#0f505f; position:relative; opacity:.98;}
	
	.startH2{margin-top:0px; padding-top:10px; padding-left:42%; font-size:3em;}
	
	.navSaveTag{padding-top:0; color:#ffffff; font-size:2.3em; margin-left:10px; padding-left:150px;}
	
	 .navChangeTag{padding-top:0; color:#ffffff; font-size:2.3em; margin-left:80px;}
	 
	 .navOutcomeTag{padding-top:0; color:#ffffff; font-size:2.3em; margin-left:10px; padding-left:10px; margin-left:100px;}
	 
	 .mainSection{padding-left:0; margin-top:60px;  margin-left:0px; margin-right:0px; background-color:#ffffff; width:1499px;}
	 
	 .saveSecDiv{height:400px !important; width:1300px; margin-bottom:20px; margin-top:-50px; margin-left:140px; padding-right:140px; color:#512DA8;}
	 
	.saveSecPara{font-size:2em; line-height:150%; margin-right:20px;}	
	
	.saveSecImg{width:450px; height:400px !important; padding-top:10px;}
	
	.changeSecDiv{height:400px !important; width:1300px; margin-bottom:20px; margin-top:130px; margin-left:140px; padding-right:40px; color:#00BCD4;}
	
	.changeSecImg{width:450px; height:400px !important; padding-top:10px;}
	
	.changeSecPara{font-size:2em; line-height:150%; margin-right:20px;margin-left:30px;}
	
	.outcomeSecDiv{height:400px !important; width:1300px; margin-bottom:20px; margin-top:100px; margin-left:140px; padding-right:40px; color:#303F9F;}
	
	.outcomeSecPara{font-size:2em; line-height:150%; margin-right:20px;}
	
	.outcomeSecImg{width:450px; height:400px !important; padding-top:10px;}
	
	.hideDetails{display:none;}
	.showDetails{display:block;}

	.introVidIframe{ height:600px !important; width:100%; margin-left:0px;}
	
	.rowWidth{width:100%;}
	
	.imgContDiv1{margin-right:-10px; padding-right:0px; width:33.5%;}
	
	.imgContDiv2{width:33.5%; margin-right:0px; padding-right:0px; margin-left:10px; padding-left:0px;}
	
	.imgContDiv3{width:33.5%; margin-right:-10px;  padding-right:0px; margin-left:0px; padding-left:0px;}
	
	.videoIntro{position:relative; margin-top:0px;}
	
	.getStartedRow{width:100% margin-top:100px; padding-top:30px;}
	
	.thumbnailDiv{margin-left:20%; width:350px; height:350px; color:#000000; border-width:20px;}
	
	.thumbnailCaption{margin:20px; height:300px;}
	
	.thumbnailH3{margin-left:20%; font-size:2em; font-weight:bold;}
	
	.thumbnailPara{padding-top:15px; font-size:1.5em;}
	
	.letsGoButton{margin-left:40%; maring-bottom:-100px !important; width:350px; font-size:2em; font-weight:bold;}
	
	/*Signup Form*/
		.signupMain{width:800px; height:600px; border-width:1px; border-left-color:#d6d6d6; border-right-color:#d6d6d6; border-bottom-color:#d6d6d6;  border-top-color:#ffffff; border-style:solid;}
	
		.signupH3{color:#ffffff; margin-left:-16px; margin-top:0px; margin-bottom:0px; border-radius:5px; background-color:#1ea1be; height:50px; width:800px; padding-left:30%; padding-top:10px;}
	
		.signupH4{color:#1ea1be; font-size:1.5em; margin-top:30px; margin-bottom:30px; margin-left:40px;}
		
		.signupInfo{color:#4c4c4c; width:650px; margin-left:40px;}
		
		.signupBtn{margin-left:40%; margin-top:30px;}
		
		.signupBtnFont{font-size:1.2em;}
	
	
	/*Log in*/
	.loginH3{color:#ffffff; margin-left:-16px; margin-top:-15px; margin-bottom:0px; border-radius:5px; background-color:#1ea1be; height:50px; width:300px; padding-left:40%; padding-top:10px;}
	
	.modalDiaClass{margin-top:15%;}
		
	.modalContentClass{width:300px; height:380px;}
		
	.forgotPW{margin-left:65px;}
		
	.loginEmailPW{margin-top:30px;}
		
	.remDiv{color:#6f6f6f; font-size:0.7em;}
		
	.signinBtn{margin-top:30px; width:100%; font-size:1.2em;}
		
	.modalFooterClass{margin-top:10px; color:#6f6f6f; font-size:0.7em; margin-right:85px;}
		
	/*Sign up Modal */
	
	.modalContentSignup{width:300px; height:600px; margin-top:15%;}
	
	.modalSignupH3{color:#ffffff; margin-left:-16px; margin-top:-15px; margin-bottom:0px; border-radius:5px; background-color:#1ea1be; height:50px; width:300px; padding-left:40%; padding-top:10px;}
	
	.signupDiv{margin-top:30px;}
	
	.agreeP{margin-top:20px; margin-bottom:10px;}
	
	.signup_Btn{width:100%; font-size:1.2em; margin-top:10px;}
	
	.signupLogin{margin-left:0px; margin-bottom:20px; margin-right:0px; padding-left:0px; padding-right:65px; color:#6f6f6f; font-size:0.7em;}
	
	
	
	
	
	
	
	
	
	
	
	
	