body{
	color:#000000;
	font-family: sans-serif ;
	font-size: 15px;
	background-color:#f8f8f8;
}

.navbar{
	border-radius:0;
	font-size:17px;
	background-color:#1d70b6;
	
}

.navbar-default{
	border-bottom-style:solid;
	border-bottom-color:#1d70b6;
	border-top-style:solid;
	border-top-color:#1d70b6;
}

.liNav{
	color:#ffffff !important;
	font-weight:bold;
}

#headZyma{
	color:#ffffff;
	font-size:30px;
	font-weight:700;

}

#headLife{
	color:#ffffff !important;
	font-size:30px;
	font-weight:700;
}

nav .container{width:1366px;}



.changeColor{
	background-color:#000000 !important ;
	
}

