<div class="page-header" style="margin-bottom:0%; background-color:#ffffff; margin-top:-20px; height: 380px;">
  <img style="height:150px; width:150px; border-radius:70px; margin-left:45%; margin-top:3%;" src="GroupImages/Wellness/Providers/Alexia.jpg" />	
  <h1 style="margin-bottom:3%; margin-left:45%;">Alexia Nugyen</h1>
  <hr />
  <nav class="navbar navbar-default" style="background-color:#ffffff; border-color:#ffffff; margin-top:-20px;" userNav>
	  <div class="container-fluid">
		<div class="navbar-header" style="margin-left:37%; font-size:1.3em;">
		  <a href="#" id="navWall" class="navbar-text noDec" style="color:#000000 !important;" ng-click="showWall($event)">Wall</a>
		  <a href="#" id="navAppt" class="navbar-text noDec" style="color:#000000 !important;" ng-click="showAppt($event)">Appointments</a>
		  <a href="#" id="navMail" class="navbar-text noDec" style="color:#000000 !important;" ng-click="showMail($event)">Mails</a>
		  <a href="#" id="navReviews" class="navbar-text noDec" style="color:#000000 !important;" ng-click="showReview($event)">Reviews</a>
		  <a href="#" id="navProfile" class="navbar-text noDec" style="color:#000000 !important;">Profile</a>
		  
		</div>
	  </div>
  </nav>
</div><!-- End: class="page-header"-->

<div class="container-fluid" style="margin-left:5%; margin-top:5%; margin-right:5%; margin-bottom:10%;">
	<div class="row" ng-show="userWall"><!-- Wall-->
		<a href="#" class="col-md-4 noDec" style="height:300px; width:400px; border:1px solid; border-color:#e5e5e5; margin-right:5%;">
			<img style="height:300px; width:398px; margin-left:-15px; position:absolute;" src="GroupImages/Fitness/Flex/flexYogaBreath.jpg" />
			<p style="padding-top:5px; padding-left:5px; font-size:1.3em; font-weight:bold; position:relative; background-color:#ffffff; color:#000000; opacity:.7; height:50px; width:398px; margin-left:-15px; margin-top:250px;">Yoga stretches for better back</p>
		</a>
		<div class="col-md-4" style="height:300px; width:400px; border:1px solid; border-color:#e5e5e5; margin-right:5%; background-color:#ffffff;">
			<img style="height:300px; width:398px; margin-left:-15px; position:absolute;" src="GroupImages/Fitness/Flex/YogaBreathe.jpg" />
			<p style="padding-top:5px; padding-left:5px; font-size:1.3em; font-weight:bold; position:relative; background-color:#ffffff; color:#000000; opacity:.7; height:50px; width:398px; margin-left:-15px; margin-top:250px;">Want to sleep better? Meditate!</p>
		</div>
		<div class="col-md-4" style="height:300px; width:400px; border:1px solid; border-color:#e5e5e5; background-color:#ffffff;">
			<img style="height:300px; width:398px; margin-left:-15px; position:absolute;" src="GroupImages/Nutrition/Nutrition/organic.jpg" />
			<p style="padding-top:5px; padding-left:5px; font-size:1.3em; font-weight:bold; position:relative; background-color:#ffffff; color:#000000; opacity:.7; height:50px; width:398px; margin-left:-15px; margin-top:250px;">Healthy eating for happier heart</p>
		</div>
	</div><!-- End class="row" for Wall-->
	
	<!---------Appointments------->
	<div class="row" ng-hide="userAppt" style="background-color:#ffffff;">
		<div ng-repeat="upcomingAppt in user.upcomingAppt track by $index">
			<div style="margin-top:2%; margin-left:3%; margin-bottom:3%;">
				<h2>Upcoming Appointments</h2>
				<p style="height:15px; padding-left:15% !important; margin-top:3%; padding-top:1%;">{{upcomingAppt}}</p>
			</div>
		</div>	<!--End: ng-repeat -->
		<div ng-repeat="pastAppt in user.pastAppt track by $index">
			<div style="margin-top:2%; margin-left:3%; margin-bottom:3%;">
				<h2>Past Appointments</h2>
				<p style="height:15px; padding-left:15% !important; margin-top:3%; padding-top:1%;">{{pastAppt}}</p>
			</div>
		</div>
	</div><!---------End: Appointments------->
	
	
	<!-------------Mails------------------>
	<div ng-hide="userMail">	
		<div ng-repeat="mail in user.mails track by $index" style="background-color:#ffffff;">
			<div ng-repeat="(key, value) in mail">
				<p class="col-md-4 col-lg-6 col-sm-8" style="">
					{{key}}
				</p>
				<p class="col-md-8 col-lg-6 col-sm-8"  style="height:100px;">
					{{value}}
				</p>
			</div>
		</div>
	</div><!-------------End: Mails------------------>
	
	<!---------------Reviews----------------->
	<div ng-hide="userReview">	
	<div class="row">	
		<div ng-repeat="review in user.reviews track by $index">
			<div class="col-md-3" style="margin-top:2%; margin-left:3%; margin-bottom:3%;">
				<p style="height:15px; padding-left:15% !important; margin-top:3%; padding-top:1%;">{{review.providerName}}</p>
				<p change-color rating="{{review.rateNum}}" class="" style="padding-left:5%; margin-top:0%;">
					<span id="dot01" class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font:1.4em;"></span>
					<span id="dot02" class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font:1.4em;"></span>
					<span id="dot03" class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font:1.4em;"></span>
					<span id="dot04" class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font:1.4em;"></span>
					<span id="dot05" class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font:1.4em;"></span>
				</p>
			</div>
			<div class="col-md-8" style="margin-top:2%; margin-right:3%; margin-bottom:3%; border-style:solid; border-width:2px; border-color:#e5e5e5; padding-top:2%; padding-bottom:2%;">
				{{review.rateDesc}}
			</div>
			<hr />
		</div>	<!--End: ng-repeat -->
	</div> <!-- class="row"-->
	</div> <!-- End: Review-->
	<!-----------------Profile--------------------->
	
	
	
	
	
</div><!-- End:class="container-fluid" -->

<style>
	.changeCss{
		padding-bottom:10px; border-bottom:2px solid blue; font-weight:bold;
	}
</style>

<!-- Dynamically change the CSS of the Profiel, Messages, Appointments and Interests section on click-->
<script>
	$('#navProfile').click(function(e){
		e.preventDefault();
		$(this).addClass('changeCss');
		$('#navMail').removeClass('changeCss');
		$('#navAppt').removeClass('changeCss');
		$('#navWall').removeClass('changeCss');
		$('#navReviews').removeClass('changeCss');
	});
	
	$('#navMail').click(function(e){
		e.preventDefault();
		$(this).addClass('changeCss');
		$('#navProfile').removeClass('changeCss');
		$('#navAppt').removeClass('changeCss');
		$('#navWall').removeClass('changeCss');
		$('#navReviews').removeClass('changeCss');
	});
	
	$('#navAppt').click(function(e){
		e.preventDefault();
		$(this).addClass('changeCss');
		$('#navMail').removeClass('changeCss');
		$('#navProfile').removeClass('changeCss');
		$('#navWall').removeClass('changeCss');
		$('#navReviews').removeClass('changeCss');
	});
	
	$('#navWall').click(function(e){
		e.preventDefault();
		$(this).addClass('changeCss');
		$('#navProfile').removeClass('changeCss');
		$('#navMail').removeClass('changeCss');
		$('#navAppt').removeClass('changeCss');
		$('#navReviews').removeClass('changeCss');
	});
	
	$('#navReviews').click(function(e){
		e.preventDefault();
		$(this).addClass('changeCss');
		$('#navProfile').removeClass('changeCss');
		$('#navMail').removeClass('changeCss');
		$('#navAppt').removeClass('changeCss');
		$('#navWall').removeClass('changeCss');
	});
</script>







