<div>
	<div class="page-header userDiv">
	  <img class="userImg" src="GroupImages/Wellness/Providers/Alexia.jpg" />	
	  <h1 class="userName">Alexia Nugyen</h1>
	  <hr />
	  <nav class="navbar navbar-default userNavbar">
		  <div class="container-fluid">
			<div class="navbar-header userHeader">
			  <a href="#/AlexWall" class="navbar-text noDec navColor">Wall</a>
			  <a href="#/AlexAppt" class="navbar-text noDec navColor">Appointments</a>
			  <a href="#/AlexMsg" class="navbar-text noDec navColor">Messages</a>
			  <a href="#/AlexReviews" class="navbar-text noDec navColor">Reviews</a>
			  <a href="#/AlexProfile" class="navbar-text noDec navColor changeCss">Profile</a>
			</div>
		  </div>
	  </nav>
	</div><!-- End: class="page-header"-->

	<div class="container-fluid userContainer">
		<!-----------------Profile--------------------->
		<div class="row colorWhite" style="margin-bottom:5%; padding-top:3%; padding-left:5%; padding-right:5%; padding-bottom:3%;">	
			<form role="form" class="form-horizontal" id="#userProfileForm" name="userProfileForm" novalidate style="width:50%; margin-left:33%; font-size:1.2em;"  ng-submit="submitUserForm()">
				<fieldset>
					<legend style="padding-left:27%; padding-bottom:2%; font-size:1.3em;"><b>Update Profile Information</b></legend>
					<!--First Name -->
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userFirstName.$dirty && userProfileForm.userFirstName.$valid, 'has-error':userProfileForm.userFirstName.$dirty && userProfileForm.userFirstName.$invalid}">
						<label class="col-sm-3 control-label" for="userFirstName">First Name</label>
						<div class="col-sm-7">
							<input type="text" id="userFirstName" name="userFirstName" class="form-control" required ng-model="editUserForm.userFirstName" ng-required="true" ng-pattern="/^[A-Za-z].*/"  />
							<div ng-show="userProfileForm.$submitted || userProfileForm.userFirstName.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userFirstName.$error.required">First Name is required</span>
							</div>
						</div>
					</div>
					<!--Last Name -->
					<div class="form-group" style="margin-bottom:4%;"  ng-class="{'has-success':userProfileForm.userLastName.$dirty && userProfileForm.userLastName.$valid, 'has-error':userProfileForm.userLastName.$dirty && userProfileForm.userLastName.$invalid}">
						<label class="col-sm-3 control-label" for="userLastName">Last Name</label>
						<div class="col-sm-7">
							<input type="text" id="userLastName" name="userLastName" class="form-control" ng-model="editUserForm.userLastName" ng-required="true" ng-pattern="/^[A-Za-z].*/"  />
							<div ng-show="userProfileForm.$submitted || userProfileForm.LastName.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userLastName.$error.required">Last Name is required</span>
							</div>
						</div>
					</div>
					<!--Email -->
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userEmail.$dirty && userProfileForm.userEmail.$valid, 'has-error':userProfileForm.userEmail.$dirty && userProfileForm.userEmail.$invalid}">
						<label class="col-sm-3  control-label" for="userEmail">Email</label>
						<div class="col-sm-7">
							<input type="email" id="userEmail" name="userEmail" class="form-control" ng-required="true" ng-model="editUserForm.userEmail" />
							<div ng-show="userProfileForm.$submitted || userProfileForm.userEmail.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userEmail.$error.required">A valid email is required</span>
							</div>
						</div>
					</div>
					<!--User Name-->
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userName.$dirty && userProfileForm.userName.$valid, 'has-error':userProfileForm.userName.$dirty && userProfileForm.userName.$invalid}">
						<label class="col-sm-3 control-label" for="userName">Username</label>
						<div class="col-sm-7">
							<input type="text" id="userName" name="userName" class="form-control" ng-required="true" ng-model="editUserForm.userName" ng-minlength="3" />
							<div ng-show="userProfileForm.$submitted || userProfileForm.userName.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userName.$error.required">User name must contain at least three characters</span>
							</div>
						</div>
					</div>				
					<!--Password-->				
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userPwd.$dirty && userProfileForm.userPwd.$valid, 'has-error':userProfileForm.userPwd.$dirty && userProfileForm.userPwd.$invalid}">
						<label class="col-sm-3 control-label" for="userPwd">Password</label>
						<div class="col-sm-7">
							<input type="password" id="userPwd" name="userPwd" class="form-control" ng-required="true" ng-model="editUserForm.userPwd" ng-minlength="6"/>
							<div ng-show="userProfileForm.$submitted || userProfileForm.userPwd.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userPwd.$error.required">Password must contain at least six characters</span>	
							</div>	
						</div>	
					</div>
					<!-- Confirm Password-->
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userConfPwd.$dirty && userProfileForm.userConfPwd.$valid, 'has-error':userProfileForm.userConfPwd.$dirty && userProfileForm.userConfPwd.$invalid}">
						<label class="col-sm-3 control-label" for="userConfPwd">Confirm Password</label>
						<div class="col-sm-7">
							<input type="password" id="userConfPwd" name="userConfPwd" class="form-control" ng-required="true" ng-model="editUserForm.userConfPwd" pw-check="userPwd" />
							<div ng-show="userProfileForm.$submitted || userProfileForm.userConfPwd.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userConfPwd.$error.required">Confirm password</span>
							</div>	
							<div ng-show="userProfileForm.$submitted || userProfileForm.userConfPwd.$dirty">
							  <span class="help-block colorRed" ng-show="userProfileForm.userConfPwd.$error.pwmatch">
								Passwords don't match.
							  </span>
							</div>								
						</div>	
					</div>	
					<!--Location -->
					<!--Reg Ex for the Zip Code is from: http://stackoverflow.com/questions/5586591/validate-zip-code-in-javascript -->
					<div class="form-group" style="margin-bottom:4%;" ng-class="{'has-success':userProfileForm.userZip.$dirty && userProfileForm.userZip.$valid, 'has-error':userProfileForm.userZip.$dirty && userProfileForm.userZip.$invalid}">
						<label class="col-sm-3 control-label" for="userZip">Zip Code</label>
						<div class="col-sm-7">
							<input type="location" id="userZip" name="userZip" class="form-control" ng-required="true" ng-model="editUserForm.userZip" ng-pattern="/^\d{5}(-\d{4})?(?!-)$/" />
							<div ng-show="userProfileForm.$submitted || userProfileForm.userZip.$touched">
								<span class="help-block colorRed" ng-show="userProfileForm.userZip.$error.required">A valid zip code is required</span>	
							</div>
						</div>
					</div>					
					<!--Picture-->				
					<div class="form-group" style="margin-bottom:4%;">
						<label class="col-sm-3 control-label" for="userPic">Picture</label>
						<div class="col-sm-7">
							<input type="button" id="userPic" name="userPic" class="form-control" style="width:150px; height:150px; border-radius:50%; margin-left:20%;" ng-model="editUserForm.userPic">
							<button style="margin-top:2%; margin-left:25%;">Change picture</button>
						</div>
					</div>
					<!--Gender -->
					<div class="form-group">
						<label class="col-sm-3 control-label" for="userGender">Gender</label> 
						<div class="col-sm-7">
							<div>
								<input type="radio" name="userGender" value="male" style="color:#000000; font-size:1.8em;" ng-model="editUserForm.userGender">Male</input>
								<input type="radio" name="userGender" value="female" style="margin-left:5%; color:#000000; font-size:1.2em;" ng-model="editUserForm.userGender">Female</input>
							</div>
						</div>
					</div>
					<!-- Age-->
					<div class="form-group">
						<label class="col-sm-3 control-label" for="userAge">Age</label> 
						<div class="col-sm-7">
							<input type="number" id="userAge" name="userAge" class="form-control" ng-model="editUserForm.userAge">
						</div>
					</div>
				</fieldset>
				
				<!--Cancel and Submit Buttons -->
				<div class="form-group" style="margin-top:3%; margin-left:25%;">
					<button type="button"  class="btn btn-md btn-primary" style="width:100px; margin-left:2%; margin-top:1.5%; font-size:1.1em;" ng-click="cancelUserForm()">Cancel</button>
					<button type="submit" class="btn btn-md btn-success" style="width:100px; margin-top:1.5%; margin-left:2%; font-size:1.1em;">Save</button>
				</div>
			 </form>	 
		</div><!-- End:Profile-->
	</div><!-- End:class="container-fluid" -->
</div>
<style>
	.changeCss{
		padding-bottom:10px; border-bottom:2px solid #1ea1be; font-weight:bold;
	}
	.colorRed{
		color:#a64c4c;
	}
</style>

